<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<link rel="stylesheet" href="css/weui.css" />

	<body ng-controller="indexCtrl">
		<!--<div ng-repeat="news in newss">
			<p>{{news.title}}</p>
			<p>{{news.description}}</p>
			<img ng-src="{{news.picUrl}}" />
		</div>-->
		<div class="page__bd">
			<article class="weui-article" ng-repeat="news in newss">
				<h1>{{news.title}}</h1>
				<section>
					<!--<h2 class="title">章标题</h2>-->
					<section>
						<!--<h3>1.1 节标题</h3>-->
						<p>
							{{news.description}}
						</p>
						<p>
							<img ng-src="{{news.picUrl}}" alt="">
							<!--<img src="./images/pic_article.png" alt="">-->
						</p>
					</section>
				</section>
			</article>
		</div>
		<button ng-click="loadMore()">查看更多</button>
	</body>
	<script src="js/angular.js"></script>
	<script>
		var app = angular.module("meinv", []);
		app.controller("indexCtrl", function($scope, $http) {
			$scope.page = 1;
			$scope.newss = [];
			$scope.loadMore = function() {
				$http({
					method: "GET",
					url: "http://localhost/angular_test/yiyuan/api.php",
					params: {
						page:$scope.page++
					}
				}).then(function(data) {
					console.log(data)
					$scope.newss = $scope.newss.concat(data.data.showapi_res_body.newslist);
				})
			}
			$scope.loadMore()
		})
		angular.bootstrap(document, ["meinv"])
	</script>

</html>